/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  -webkit-font-smoothing: antialiased; }

/* COLOR VARIABLES */
/* MEDIA QUERIES
@media (min-width: @screen-sm-min) {
	.header-bar {
		height: 0px;
	}
} */
/* TYPOGRAPHY */
a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  font-size: 20px;
  line-height: 1.75;
  color: #dark-grey;
  font-family: "minion-pro", 'Crimson Text', serif;
  font-weight: "600";
  background: #dcfeff;
  text-align: center;
  padding-bottom: 0px;
  /* Cody's Instagram
  
  	.instagram {
  
  		.image {
  			margin-top: 100px;
  			background: $dark-grey;
  			height: 264px;
  
  			&:hover {
  				opacity: .90;
  			}
  		}
  
  
  		}
  
  */ }
  body h2 {
    font-family: "myriad-pro", 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 100px; }
  body .header-bar {
    height: 100px;
    /*width: 100%;*/
    background: #dcfeff;
    padding: 33px 0px; }
    body .header-bar nav a.logo {
      background: none;
      color: #6fde89;
      font-family: "myriad-pro", 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase; }
    body .header-bar nav .donate-text {
      display: none; }
  body .donate {
    background: #6fde89;
    padding: 20px 20px;
    border-radius: 8px;
    margin: 50px auto 100px auto;
    display: block;
    width: 300px;
    font-family: "myriad-pro", 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 16px; }
  body .hero {
    background: #6fde89;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6fde89 0%, #62c479 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6fde89), color-stop(100%, #62c479));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #6fde89 0%, #62c479 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #6fde89 0%, #62c479 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #6fde89 0%, #62c479 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #6fde89 0%, #62c479 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fde89', endColorstr='#62c479',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    color: white; }
    body .hero a:link {
      color: white;
      background: rgba(21, 21, 21, 0.05); }
    body .hero a:visited {
      color: white;
      background: rgba(21, 21, 21, 0.05); }
    body .hero a:hover {
      color: white;
      background: rgba(21, 21, 21, 0.08); }
    body .hero .donate {
      background: rgba(21, 21, 21, 0.05);
      color: white; }
      body .hero .donate:link {
        color: white;
        background: rgba(21, 21, 21, 0.05); }
      body .hero .donate:visited {
        color: white;
        background: rgba(21, 21, 21, 0.05); }
      body .hero .donate:hover {
        color: white;
        background: rgba(21, 21, 21, 0.08); }
    body .hero .shaka {
      width: 90%;
      max-width: 480px;
      display: block;
      margin: 100px auto; }
  body #instagram-wrapper {
    position: relative;
    width: 100%;
    /* overall width of the grid */
    margin: 0 auto;
    /* centers the grid */ }
  body #instagram-wrapper img {
    float: left;
    /* removes the whitespace */
    width: 20%;
    /* 1/5 so you get 5 images per row */ }
  body .content {
    background: transparent url("https://s3.amazonaws.com/shaloha/johnson-shaloha.jpg") bottom center no-repeat;
    background-size: 200%;
    padding-bottom: 400px; }
    body .content .about a:link {
      color: #151515;
      background: rgba(111, 222, 137, 0.2); }
    body .content .about a:visited {
      color: #151515;
      background: rgba(111, 222, 137, 0.2); }
    body .content .about a:hover {
      background: rgba(111, 222, 137, 0.4); }
    body .content .donate:hover {
      background: rgba(111, 222, 137, 0.8); }
  body footer {
    background: #151515;
    height: 300px;
    width: 100%; }
    body footer a:link {
      color: white;
      background: rgba(111, 222, 137, 0.08); }
    body footer a:visited {
      color: white;
      background: rgba(111, 222, 137, 0.08); }
    body footer a:hover {
      color: white;
      background: rgba(111, 222, 137, 0.5); }
    body footer ul li {
      color: #dcfeff;
      font-family: "myriad-pro", 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      padding-top: 33px;
      list-style-type: none; }

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .header-bar a.logo {
    float: left;
    /* !important   */
    margin-left: 50px; }
  .header-bar a.donate-text {
    display: block;
    /* !important */
    color: #151515;
    font-family: "myriad-pro", 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-top: 2px;
    margin-right: 50px;
    float: right; }
    .header-bar a.donate-text:hover {
      background: transparent url("https://s3.amazonaws.com/shaloha/greenshape.svg") center bottom no-repeat;
      overflow: visible; }

  .content {
    background: transparent url("https://s3.amazonaws.com/shaloha/johnson-shaloha.jpg") bottom center no-repeat;
    background-size: contain;
    /* !important */ }

  footer {
    background: #151515;
    height: 200px;
    /* !important */
    width: 100%; }
    footer ul li {
      display: inline-block;
      padding-left: 15px;
      margin: 0px 10px;
      position: relative;
      color: #dcfeff;
      font-family: "myriad-pro", 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 18px;
      padding-top: 33px;
      right: 25px; }
      footer ul li:before {
        content: "";
        height: 4px;
        width: 4px;
        background: #dcfeff;
        border-radius: 2px;
        position: absolute;
        left: -7px;
        top: 47px; }
      footer ul li:first-child:before {
        content: none; } }
