

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* COLOR VARIABLES */
$green: #6fde89;
$dark-grey: #151515;
$light-blue: #dcfeff;



/* TYPOGRAPHY */
a:link {
	text-decoration: none; 
	}		
a:visited {
	text-decoration: none; 
	}
a:hover {
	text-decoration: none;
	background: rgba($green,.9); 
	}

body {
	font-size: 20px;
	line-height: 1.75;
	color: #dark-grey;
	font-family: 'Crimson Text', serif;	
	font-weight: "500";
	background: $light-blue;
	text-align: center;

	h2 {
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			font-size: 18px;
			margin-top: 100px;
		}

	.donate {
		background: $green;
		padding: 20px 20px;
		border-radius: 8px;
		margin: 50px auto 100px auto;
		display: block;
		width: 300px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: white;
		font-size: 16px;
	}

	.header-bar {
		height: 100px;
		width: 100%;
		background: $light-blue;

		nav {
			a.logo {
				float: left;  
				background: none;
				color: $green;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 18px;
				padding-top: 33px;
				text-transform: uppercase;

				}
			a.donate-text {
				background: none;
				color: $dark-grey;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 16px;
				padding-top: 35px;
				float: right; }
		}
	}

	.hero {
		background: #6fde89; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #6fde89 0%, #62c479 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6fde89), color-stop(100%,#62c479)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg, #6fde89 0%,#62c479 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg, #6fde89 0%,#62c479 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg, #6fde89 0%,#62c479 100%); /* IE10+ */
		background: linear-gradient(135deg, #6fde89 0%,#62c479 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fde89', endColorstr='#62c479',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: white;
		.donate {
			background: rgba($dark-grey,.05); }
		a:link {
    		text-decoration: none; }		
		a:visited {
    		text-decoration: none; }
		a:hover {
    		text-decoration: none;
    		background: rgba($dark-grey,.08); }
		
		.shaka {
			width: 480px;
			display: block;
			margin: 100px auto;
		}
	}



	.content {
		background: transparent url("/img/johnson-shaloha.jpg") bottom center no-repeat;
  		background-size: contain;
  		padding-bottom: 400px;
		}


	footer {
		ul {
			li {
				display: inline-block;
				padding-left: 15px;
				margin: 0px 10px;
				position: relative;
				&:before {
					content: "";
					height: 4px;
					width: 4px;
					background: $dark-grey;
					border-radius: 2px;
					position: absolute;
					left: -6px;
					top: 16px;
				}
				&:first-child {
					&:before {
						content: none;
						
					}
				}
				
			}
		}
	}
		











}












